.cabecera {
}

#contenedor-principal {
}

#barra-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/media/shopbanner3.jpg);
  font-family: "Special Elite", cursive, bold;
  font-size: 20px;
  color: white;
  padding: 1%;
  border-radius: 10px;
  border-style: double;
  border-color: gray;
}

ul {
  display: flex;
  margin-left: 1%;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

#menu {
  display: flex;
  justify-content: center;
  font-family: "Special Elite", cursive, bold;
  font-size: 20px;
  background: rgb(160, 78, 45);
  background: linear-gradient(
    315deg,
    rgba(160, 78, 45, 1) 20%,
    rgba(160, 132, 45, 1) 80%
  );
  border-radius: 10px;
}

#bienvenidos {
  display: flex;
  justify-content: center;
  margin-bottom: -1%;
  margin-top: -1%;
}

#contenedor-modulo {
  display: flex;
  flex-direction: row-reverse;
  /* background: rgb(160, 78, 45);
  background: linear-gradient(
    315deg,
    rgba(160, 78, 45, 1) 20%,
    rgba(160, 132, 45, 1) 80%
  ); */
  background-image: url(/media/granos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0.8%;
  width: 100%;
  border-radius: 10px;
}

#contenedor-video {
}

#logo {
  width: 60%;
  height: 60%;
  margin-top: 8%;
  margin-left: 20%;
}

#medidas {
  margin-top: 8%;
  margin-left: 12%;
  width: 85%;
  height: 80%;
  border-radius: 20px;
  border-style: double;
  border-color: gray;
}

#acerca-txt {
  display: flex;
}

#contenedor-articulo {
  display: flex;
  background-image: url(/media/polvo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 100%;
  margin-top: 1%;
}

p {
  font-family: "Homemade Apple", cursive;
  font-size: 18px;
}

#acerca-text {
  width: 30%;
  height: 5%;
  margin-left: 5%;
}

#contenedor-articulo2 {
  border-radius: 20px;
  width: 100%;
  margin-top: 2%;
  background-image: url(/media/menu_largo.png);
  background-size: 100% 83%;
  background-repeat: no-repeat;
}

#titulo-menu {
  font-family: "Lemon", cursive;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

#container-modulo2 {
  display: flex;
  justify-content: space-around;
}

#modulo1 {
  display: flex;
}

#modulo2 {
}

#container-cuadros {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: -10%;
}

#modulo3 {
}

#modulo4 {
}

#vaso {
  height: 70%;
  margin-left: 20%;
}

#burger {
  height: 70%;
  width: 63%;
  margin-left: 20%;
}

.div-imagen {
  display: inline-block;
  position: relative;
}

.div-imagen > div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  padding: 10px;
  margin: 0;
  margin-left: 40%;
  margin-top: 200px;
  font-family: "Titan One", cursive;
  font-size: 30px;
  color: black;
}

.desvanecer:hover {
  opacity: 0.3;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

#modulo4 {
}

#menu-comer {
  background-image: url(/media/bg-textura.png);
  background-size: cover;
  background-repeat: repeat;
}

#contenedor-menu-comer {
  background-image: url(/media/bg-textura.png);
  background-size: cover;
  background-repeat: repeat;
  border-style: double;
  border-color: black;
}

.titulo-menu {
  display: flex;
  flex-direction: column;
  font-family: "Lemon", cursive;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.comida {
  display: flex;
  justify-content: space-evenly;
}

.tipo-cafe {
}

.precio {
}
