.cabecera {
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.agrupar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: stretch;
  padding: 1%;
  flex-direction: column;
}

body {
  width: 100%;
}

#contenedor-principal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#barra-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/media/shopbanner3.jpg);
  background-size: 100%, 100%;
  font-family: "Lemon", cursive;
  font-size: 20px;
  color: white;
  padding: 1%;
  border-radius: 10px;
  margin-bottom: 0.1%;
  width: 100%;
}

ul {
  display: flex;
  margin-left: 4%;
}

a:link {
  text-decoration: none;
  color: wheat;
}

a:visited {
  text-decoration: none;
  color: wheat;
}

a:hover {
  text-decoration: underline;
}

#menu {
  display: flex;
  justify-content: center;
  font-family: "Lemon", cursive;
  font-size: 25px;
  background-color: peru;
  border-radius: 10px;
  border: black;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 0.1%;
  width: 100%;
  padding: 1%;
}

#bienvenidos {
  display: flex;
  justify-content: center;
  margin-bottom: -1%;
  margin-top: -1%;
}

#contenedor-modulo {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  background-image: url(/media/granos.jpg);
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  margin-bottom: 2%;
  width: 100%;
  margin-top: 1%;
  border-radius: 10px;
  padding: 4%;
}

#contenedor-video {
  width: 100%;
}

#logo {
  width: 40%;
  height: 40%;
  margin-top: 10%;
  margin-left: 15%;
  margin-bottom: 20%;
}

#medidas {
  margin-top: -3%;
  margin-left: -15%;
  width: 120%;
}

#acerca-txt {
  display: flex;
}

#contenedor-articulo {
  display: flex;
  background-image: url(/media/polvo.jpg);
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 100%;
  margin-top: 2%;
  padding: 2%;
}

#acerca-text {
  width: 38%;
  height: 38%;
  margin-left: 1%;
}

p {
  font-family: "Homemade Apple", cursive;
  font-size: 18px;
}

#titulo-acerca {
  font-family: "Lemon", cursive;
  font-size: 20px;
  margin-left: 5%;
  margin-bottom: 2%;
}

#acerca-text {
  width: 30%;
  height: 5%;
  margin-left: 5%;
}

#contenedor-articulo2 {
  border-radius: 20px;
  width: 100%;
  background-image: url(/media/menu_largo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 4%;
  margin-bottom: 5%;
}

#titulo-menu {
  font-family: "Lemon", cursive;
  display: flex;
  justify-content: center;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  font-size: 25px;
}

#container-modulo2 {
  display: flex;
  justify-content: space-around;
}

#modulo1 {
  display: flex;
}

#modulo2 {
}

#container-cuadros {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
  margin-top: 1px;
  width: 100%;
  margin-left: 10%;
}

#modulo3 {
}

#modulo4 {
}

#vaso {
  width: 100%;
  height: 70%;
  margin-left: 40%;
  border: black;
  border-style: double;
}

#burger {
  height: 70%;
  width: 40%;
  margin-left: 20%;
  border: black;
  border-style: double;
}

/* .div-imagen {
  display: inline-block;
  position: relative;
} */

.div-imagen > div,
#container-titulo-cuadro {
  /*  position: absolute; */
  top: 0;
  left: 0;
  z-index: -1;
  padding: 1%;
  margin: 0;
  margin-top: 1%;
  margin-left: 25%;
  margin-bottom: -5%;
  font-family: "Titan One", cursive;
  font-size: 25px;
  color: black;
}

#container-titulo-cuadro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#beber {
  margin-right: 20%;
}

#comer {
  margin-right: 50%;
}

.desvanecer:hover {
  opacity: 0.3;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

#modulo4 {
}

.contenedor-modulo-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 10%;
}

#menu-comer {
  background-image: url(/media/bg-textura.png);
  background-size: cover;
  background-repeat: repeat;
  padding: 2%;
}

#taza-menu {
  margin-bottom: -8%;
  width: 8%;
  margin-left: 22%;
}

#taza-menu-te {
  width: 8%;
  margin-left: 39%;
  margin-bottom: -8%;
}

#taza-menu-te2 {
  width: 8%;
  margin-left: 23%;
  margin-right: 16%;
  margin-bottom: -8%;
}

.contenedor-mosaico {
  display: flex;
  justify-content: center;
}

#mosaico {
  width: 20%;
  height: 20%;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 2%;
}

#mosaico2 {
  width: 20%;
  height: 20%;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 2%;
}

.contenedor-menu-comer {
  background-image: url(/media/bg-textura.png);
  background-size: cover;
  background-repeat: repeat;
  border-style: double;
  border-color: black;
  width: 40%;
}

.titulo-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Lemon", cursive;
  font-size: 25px;
  margin-top: -2%;
  margin-bottom: -2%;
}

.contenedor-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0.5%;
  margin-right: 5%;
}

.comida {
  display: flex;
  justify-content: space-between;
  font-family: "Lemon", cursive;
  font-size: 12px;
  margin-left: 1%;
  margin-right: 1%;
}

.tipo-cafe {
}

.precio {
}

#contenedor-titulo {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: antiquewhite;
}

#contenedor-titulo:nth-child(1) {
}

.titulo-menu {
  margin-left: 8%;
}

.titulo-menu:nth-child(3) {
  margin-top: -10%;
}

#contenedor-articulo3 {
  background-color: antiquewhite;
  width: 100%;
  border-radius: 20px;
  margin-top: 5%;
}

.contenedor-ubicacion {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  margin-left: 20%;
  width: 80%;
  margin-bottom: 2%;
}

#titulo-menu-ub {
  font-family: "Lemon", cursive;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: -2%;
}

.contenedor-modulo-ub {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contenedor-img {
  margin-left: 1%;
}

#local-img {
  width: 50%;
  height: 50%;
}

.ubicacion {
  width: 80%;
  height: 25%;
  background-color: peru;
  font-family: "Lobster", cursive;
  font-size: 25px;
  color: wheat;
  margin-right: 1%;
  margin-top: 1%;
  margin-left: 1%;
  display: flex;
  justify-content: center;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

#taza-img {
  width: 20%;
  height: 20%;
  margin-left: -20%;
  margin-top: -10%;
  margin-bottom: -10%;
}

#pan {
  width: 25%;
  height: 25%;
  margin-left: 75%;
  margin-top: -5%;
}

h3 {
  margin-left: 6%;
}

#contenedor-modulos {
  display: flex;
  margin-left: 1%;
  margin-right: 10%;
  flex-direction: row;
}

.horario {
  font-family: "Lemon", cursive;
}

#contenedor-contact {
  display: flex;
  width: 100%;
  margin-left: 0.2%;
  border-radius: 10px;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.titulo-contact {
  font-family: "Lemon", cursive;
  font-size: 30px;
  margin-left: 40%;
  margin-top: 1%;
}

#form {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1%;
  background-color: peru;
  border-radius: 30px;
  margin-top: 1%;
  margin-bottom: 1%;
  border-style: solid;
  border-width: 1px;
  margin-left: 0.5%;
}

#container-titulo {
  display: flex;
  justify-content: center;
}

#titulo {
  font-family: "Lemon", cursive;
  font-size: 23px;
  font-weight: bold;
  color: wheat;
}

#miFormulario {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-top: 1%;
}

input::placeholder {
  color: peru;
}

textarea::placeholder {
  color: peru;
}

textarea {
  border-color: gray;
}

#campo_direccion::placeholder {
  color: peru;
}

#campo_nombre,
#boton,
#campo_direccion,
#campo_texto,
#campo_mensaje,
#campo_correo,
#campo_telefono {
  border-width: 3px;
  border-color: wheat;
  border-radius: 5px;
  width: 98%;
  font-family: "Lemon", cursive;
  font-size: 17px;
  background-color: wheat;
  color: peru;
  padding: 1%;
  margin-top: 1%;
}

#campo_telefono {
  margin-right: 1.5%;
}

#nombre {
  display: flex;
  margin-top: -1%;
  margin-bottom: 0.5%;
}

#email-tel {
  display: flex;
  flex-direction: row;
  margin-top: -1%;
  margin-bottom: -2.5%;
  font-family: "Lemon", cursive;
  font-size: 1px;
}

#direccion {
  display: flex;
  margin-top: 0.5%;
  margin-bottom: 1%;
}

#mensajes {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-between;
  margin-top: 3%;
  margin-right: 2%;
}

#mensajes2 {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 1%;
  margin-top: 0.5%;
}

#mensajes3 {
  display: flex;
  font-size: 12px;
  margin-bottom: 1%;
  margin-top: 1%;
}

#mensaje {
  display: flex;
  font-size: 12px;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}

#mensajes-ap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 0.5%;
}

#campo_correo {
  margin-right: 5%;
  border-width: 3px;
  border-radius: 5px;
  width: 50%;
  font-size: 20px;
  color: peru;
}

#campo_telefono {
  width: 50%;
  border-width: 3px;
  border-radius: 5px;
  font-size: 20px;
  color: peru;
}

#container-term {
  display: flex;
  flex-direction: row;
  font-family: "Lemon", cursive;
  color: wheat;
  justify-content: space-between;
  font-size: 9px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 2%;
  margin-right: 2%;
}

h4 {
  font-size: 14px;
}

#boton {
  background-color: wheat;
  width: 50%;
  margin-left: 25%;
  margin-top: -1%;
  color: peru;
  font-family: "Lemon", cursive;
}

#contenedor-redes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15%;
  margin-bottom: 5%;
}

#titulo-redes {
  margin-bottom: 3%;
  margin-left: -1%;
  font-size: 20px;
}

.redes {
  width: 80%;
  height: 27%;
  background-color: wheat;
  font-family: "Lobster", cursive;
  font-size: 25px;
  color: peru;
  margin-right: 1%;
  margin-top: 1%;
  margin-left: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 1.2%;
}

.red {
  margin-left: -20%;
  font-size: 33px;
}

#facebook,
#insta,
#twitter {
  margin-left: 5%;
  padding: 1%;
  width: 25%;
}

h1 {
  font-size: 28px;
}

.ubicacion:hover {
  background-color: goldenrod;
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.02);
  transform: scale(0.9);
}

.ubicacion:nth-child(2) {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1%;
}

.ubicacion:nth-child(3) {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1%;
}

.ubicacion:nth-child(4) {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1%;
}

#pie {
  display: flex;
  justify-content: center;
}

footer {
  background-color: wheat;
  padding: 1%;
  font-family: "Lobster", cursive;
  font-size: 30px;
  color: peru;
  margin-top: 0.5%;
}

@media screen and (max-device-width: 1300px) {
  #medidas {
    width: 120%;
  }
}

@media screen and (max-device-width: 1150px) {
  p {
    font-family: "Homemade Apple", cursive;
    font-size: 15px;
  }

  #acerca-text {
    width: 38%;
    height: 38%;
    margin-left: 1%;
  }

  #container-titulo-cuadro {
    width: 100%;
    font-size: 18px;
  }

  #beber {
    margin-right: 20%;
  }

  #comer {
    margin-right: 50%;
  }

  #medidas {
    width: 140%;
    margin-left: -35%;
  }

  h3 {
    margin-bottom: 4%;
    margin-right: 4%;
    font-size: 24px;
  }

  #logo {
    margin-top: 10%;
    margin-left: 10%;
  }
}

@media screen and (max-device-width: 650px) {
  p {
    font-family: "Homemade Apple", cursive;
    font-size: 8px;
  }

  #acerca-text {
    width: 45%;
    height: 45%;
    margin-left: 1%;
  }

  #container-titulo-cuadro {
    justify-content: center;
    width: 100%;
    font-size: 12px;
  }

  #vaso {
    width: 100%;
    height: 80%;
    margin-left: 40%;
    border: black;
    border-style: double;
  }

  #burger {
    height: 80%;
    width: 40%;
    margin-left: 20%;
    border: black;
    border-style: double;
  }

  h3 {
    margin-bottom: 4%;
    margin-right: 4%;
    font-size: 22px;
  }

  #beber,
  #comer {
    font-size: 12px;
  }
}

@media screen and (max-device-width: 600px) {
  p {
    font-family: "Homemade Apple", cursive;
    font-size: 8.5px;
  }

  #acerca-text {
    width: 55%;
    height: 55%;
    margin-left: 1%;
  }

  #medidas {
    width: 200%;
  }
}

@media screen and (max-device-width: 516px) {
  h3 {
    margin-bottom: 4%;
    margin-left: 15%;
    font-size: 20px;
  }

  #beber,
  #comer {
    font-size: 10px;
  }
}

@media screen and (max-device-width: 430px) {
  #beber,
  #comer {
    font-size: 8px;
  }
}

@media screen and (max-device-width: 640px) {
  h3 {
    margin-bottom: 6%;
    margin-left: 15%;
  }

  p {
    font-family: "Homemade Apple", cursive;
    font-size: 8.5px;
  }

  #container-titulo-cuadro {
    font-size: 10px;
    justify-content: center;
    margin-top: 1%;
  }

  #titulo-redes {
    margin-left: 1%;
    font-size: 20px;
  }
}

/* @media screen and (max-device-width: 850px) {
  .red {
    font-size: 30px;
    margin-right: 50%;
  }

  #facebook,
  #insta,
  #twitter {
    margin-left: 5%;
    padding: 1%;
    width: 18%;
  }

  #titulo-redes {
    margin-left: 4%;
    font-size: 20px;
  }
} */

@media screen and (min-device-width: 350px) and (max-device-width: 900px) {
  #barra-menu {
    font-size: 10px;
    width: 100%;
  }

  body {
    width: 100%;
  }

  .agrupar {
    /* max-width: 1250px; */
    width: 100%;
    height: 100%;
  }

  .cabecera {
    width: 100%;
  }

  #contenedor-principal {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #menu {
    width: 100%;
    font-size: 11px;
  }

  ul {
    margin-left: 5%;
  }

  #contenedor-modulo {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  #medidas {
    width: 140%;
    margin-left: -40%;
  }

  #logo {
    width: 35%;
    height: 30%;
    margin-top: 4%;
  }

  #contenedor-articulo {
    /* background-image: url(/media/polvo.jpg);
    background-size: 110%, 110%;
    background-repeat: no-repeat; */
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-top: 1%;
  }

  /* #contenedor-articulo {
    margin-left: 25%;
    background-size: 100%, 100%;
  } */

  p {
    font-family: "Homemade Apple", cursive;
    font-size: 14px;
  }

  #titulo-acerca {
    font-family: "Lemon", cursive;
    font-size: 13px;
  }

  #acerca-text {
    width: 40%;
    height: 40%;
    margin-left: 1%;
    font-size: 7px;
  }

  #titulo-menu {
    font-size: 18px;
  }

  /* #vaso {
    height: 70%;
    margin-left: 70%;
    border: black;
    border-style: double;
  }

  #burger {
    height: 70%;
    width: 70%;
    border: black;
    border-style: double;
  } */

  #container-titulo-cuadro {
    font-size: 15px;
    justify-content: center;
  }

  #beber {
    margin-right: 20%;
  }

  #comer {
    margin-right: 50%;
  }

  .ubicacion {
    width: 72%;
    height: 25%;
    background-color: peru;
    font-family: "Lobster", cursive;
    font-size: 18px;
    color: wheat;
    margin-right: 1%;
    margin-top: 1%;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }

  #mosaico,
  #mosaico2 {
    display: none;
    width: 100%;
  }

  h3 {
    margin-bottom: 5%;
  }

  #contenedor-contact {
    flex-direction: column-reverse;
    width: 100%;
  }

  .titulo-contact {
    font-family: "Lemon", cursive;
    font-size: 20px;
    margin-left: 40%;
  }

  #contenedor-redes {
    margin-left: 25%;
  }

  .redes {
    width: 100%;
    height: 27%;
    background-color: wheat;
    font-family: "Lobster", cursive;
    font-size: 25px;
    color: peru;
    margin-right: 1%;
    margin-top: 2%;
    margin-left: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
  }

  .red {
    font-size: 35px;
    margin-right: 50%;
  }

  #facebook,
  #insta,
  #twitter {
    margin-left: 5%;
    padding: 1%;
    width: 18%;
  }

  #titulo-redes {
    margin-left: -1%;
    font-size: 20px;
  }

  h1 {
    font-size: 35px;
  }
  h4 {
    font-size: 18px;
  }

  footer {
    font-size: 25px;
  }

  h2 {
    font-size: 10px;
  }
}

@media screen and (max-device-width: 800px) {
  p {
    font-family: "Homemade Apple", cursive;
    font-size: 12px;
  }

  #titulo-acerca {
    font-family: "Lemon", cursive;
    font-size: 11px;
  }

  #titulo-redes {
    margin-left: 1%;
    font-size: 18px;
  }

  h1 {
    font-size: 30px;
  }

  #medidas {
    width: 160%;
    margin-left: -60%;
  }

  #logo {
    width: 35%;
    height: 30%;
    margin-top: 4%;
  }
}

@media screen and (max-device-width: 700px) {
  p {
    font-family: "Homemade Apple", cursive;
    font-size: 9px;
  }

  #titulo-acerca {
    font-family: "Lemon", cursive;
    font-size: 10px;
  }

  #medidas {
    width: 180%;
    margin-left: -80%;
  }

  #logo {
    width: 32%;
    height: 30%;
    margin-top: 4%;
  }

  #titulo-redes {
    margin-left: -1%;
    font-size: 20px;
  }
}

@media screen and (max-device-width: 540px) {
  p {
    font-family: "Homemade Apple", cursive;
    font-size: 6.5px;
  }

  h1 {
    font-size: 15px;
  }
}

/* MENU BEBER */

.titulo-menu2 {
  font-family: "Lemon", cursive;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 25px;
  margin-left: 3%;
}

.contenedor-menu {
  margin-top: -2%;
}

.titulo-menu3 {
  font-family: "Lemon", cursive;
  display: flex;
  margin-bottom: 1%;
  font-size: 25px;
  margin-left: 3%;
}

@media screen and (min-device-width: 350px) and (max-device-width: 900px) {
  .contenedor-modulo-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 6%;
  }

  .contenedor-menu-comer {
    margin-bottom: 10%;
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
  }

  .contenedor-menu {
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: -5%;
    font-size: 11px;
  }

  .titulo-menu2:nth-child(1) {
    margin-top: -13%;
  }

  .titulo-menu2:nth-child(2) {
    margin-bottom: -60%;
  }

  .titulo-menu3 {
    margin-bottom: 5%;
    margin-top: 10%;
    font-size: 11px;
  }

  h1 {
    font-size: 28px;
  }

  #titulo-redes {
    margin-left: 6%;
  }

  #boton {
    background-color: wheat;
    width: 35%;
    margin-left: 35%;
    margin-top: -1%;
    color: peru;
    font-family: "Lemon", cursive;
  }
}

@media screen and (max-device-width: 800px) {
  .titulo-menu2:nth-child(2) {
    margin-bottom: -65%;
  }

  .titulo-menu2:nth-child(1) {
    margin-top: -17%;
  }

  #titulo-redes {
    margin-left: 5%;
  }

  h1 {
    font-size: 26px;
  }

  .red {
    font-size: 30px;
  }
}

@media screen and (max-device-width: 700px) {
  .titulo-menu2:nth-child(2) {
    margin-bottom: -67%;
  }

  .titulo-menu2:nth-child(1) {
    margin-top: -17%;
  }

  #titulo-redes {
    margin-left: 6%;
  }

  h1 {
    font-size: 22px;
  }

  .red {
    font-size: 26px;
  }

  #titulo {
    font-size: 18px;
  }

  #campo_nombre,
  #campo_direccion,
  #campo_texto,
  #campo_mensaje,
  #campo_correo,
  #campo_telefono {
    border-width: 3px;
    border-color: wheat;
    border-radius: 5px;
    width: 98%;
    font-family: "Lemon", cursive;
    font-size: 13px;
    background-color: wheat;
    color: peru;
    padding: 1%;
    margin-top: 1%;
  }
}

@media screen and (max-device-width: 600px) {
  .titulo-menu2:nth-child(2) {
    margin-bottom: -75%;
    font-size: 22px;
  }

  .titulo-menu2:nth-child(1) {
    margin-top: -15%;
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  .red {
    font-size: 23px;
  }

  #medidas {
    width: 180%;
    margin-left: -80%;
  }

  #titulo-redes {
    margin-right: 30%;
  }

  #campo_nombre,
  #campo_direccion,
  #campo_texto,
  #campo_mensaje,
  #campo_correo,
  #campo_telefono {
    border-width: 3px;
    border-color: wheat;
    border-radius: 5px;
    width: 98%;
    font-family: "Lemon", cursive;
    font-size: 14px;
    background-color: wheat;
    color: peru;
    padding: 1%;
    margin-top: 1%;
  }

  #titulo {
    font-size: 16px;
  }

  h4 {
    font-size: 12px;
  }

  h3 {
    font-size: 20px;
  }

  h1 {
    font-size: 20px;
  }
}

@media screen and (max-device-width: 500px) {
  .titulo-menu2:nth-child(2) {
    margin-bottom: -86%;
    font-size: 16px;
  }

  .titulo-menu2:nth-child(1) {
    margin-top: -20%;
    font-size: 16px;
  }

  h2 {
    font-size: 10px;
  }

  .comida {
    font-size: 10px;
  }

  .contenedor-menu-comer {
    font-size: 10px;
  }

  h1 {
    font-size: 20px;
  }

  .red {
    font-size: 23px;
  }

  #titulo-redes {
    margin-left: 12%;
  }

  #medidas {
    width: 200%;
    margin-left: -110%;
  }

  #logo {
    width: 28%;
  }

  #titulo {
    font-size: 14px;
  }

  #campo_nombre,
  #campo_direccion,
  #campo_texto,
  #campo_mensaje,
  #campo_correo,
  #campo_telefono {
    border-width: 3px;
    border-color: wheat;
    border-radius: 5px;
    width: 98%;
    font-family: "Lemon", cursive;
    font-size: 12px;
    background-color: wheat;
    color: peru;
    padding: 1%;
    margin-top: 1%;
  }

  .comida2 {
    font-size: 10px;
  }

  h1 {
    font-size: 18px;
  }

  .red {
    font-size: 20px;
  }

  h3 {
    font-size: 17px;
  }

  footer {
    font-size: 20px;
  }

  #boton {
    background-color: wheat;
    width: 25%;
    margin-left: 40%;
    margin-top: -1%;
    color: peru;
    font-family: "Lemon", cursive;
    font-size: 15px;
  }
}

@media screen and (max-device-width: 400px) {
  .titulo-menu2:nth-child(2) {
    margin-bottom: -98%;
    font-size: 16px;
  }

  .titulo-menu2:nth-child(1) {
    margin-top: -25%;
    font-size: 16px;
  }
}

/* menu comer */

.comida2 {
  display: flex;
  justify-content: space-between;
  font-family: "Lemon", cursive;
  font-size: 13px;
  margin-left: 1%;
  margin-right: 1%;
}

.titulo-menu3 {
  font-family: "Lemon", cursive;
  display: flex;
  justify-content: center;
  margin-top: 7%;
  margin-bottom: 1%;
  font-size: 25px;
  margin-left: 3%;
}

h2 {
  font-size: 20px;
}
